---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Aboutus from "../components/Aboutus.astro";
import Footer from "../components/Footer.astro";
import Products from "../components/Products.astro";
import Owner from "../components/Owner.astro";
import Passion from "../components/Passion.astro";
import Office from "../components/Office.astro";
import Stat from "../components/Stat.astro";
import Buyonline from "../components/Buyonline.astro";
import Contact from "../components/Contact.astro";
import Testimonial from "../components/Testimonial.astro";
---

<Layout title="Value-Top Bangladesh">
  <main>
    <Nav />
    <Hero />
    <Aboutus />
    <Products />
    <Owner />
    <Passion />
    <Office />
    <Stat />
    <Buyonline />
    <Contact />
    <Testimonial />
    <Footer />
  </main>
</Layout>
