---
---

<section
  data-section-id="2"
  data-share=""
  data-category="features-light-reverse"
  data-component-id="3e9407ed_01_awz"
  class="py-10 bg-gray-50 overflow-hidden"
>
  <div class="container mx-auto px-4">
    <div class="py-16 px-8 md:px-16 bg-white rounded-3xl">
      <div class="flex flex-wrap -m-8">
        <div class="w-full md:w-1/2 p-8">
          <img class="mx-auto md:ml-0 rounded-3xl" src="/ceo.jpg" alt="CEO" />
        </div>
        <div class="w-full md:w-1/2 p-8">
          <div class="md:max-w-md">
            <span
              class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest"
              data-config-id="auto-txt-1-1"
            >
              CEO
            </span>
            <h2
              class="font-heading mb-4 text-4xl text-gray-900 font-black tracking-tight"
            >
              <span> Md.Saiful Islam Sohel</span>
            </h2>
            <p class="pb-2">
              We strive to bring the latest trends in everything, be it computer
              chassis design or other PC accessories.
            </p>
            <p class="pb-2">
              We ensure that Bangladeshi consumers get the best new products at
              an affordable price without compromising with quality.
            </p>
            <p class="mb-16">
              Our products are backed by our rock solid warranty, assuring peace
              of mind for our customers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
