---

---
<section class="h-auto bg-gray-100 dark:bg-gray-600" id="passion">
  <div
    class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center"
  >
    <h2
      class="text-base font-semibold text-indigo-600 dark:text-gray-200 tracking-wide uppercase"
    >
    VALUE-TOP BANGLADESH 
    </h2>
    <p
      class="mt-1 text-4xl font-extrabold text-gray-900 dark:text-gray-200 sm:text-5xl sm:tracking-tight lg:text-6xl"
    >
    Where Passion Meets Professionalism
    </p>
    <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500 dark:text-gray-200">
      Value-Top is a company based in Bangladesh that specializes in the production of computer accessories. The company was founded in 2005 and has since become a leading manufacturer of high-quality computer casing, monitor, cooling fan in the region.
    </p>
  </div>
</section>