---
---

<section class="bg-white tails-relative" id="products">
  <div
    class="w-full px-5 py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl"
  >
    <div class="flex flex-col items-center sm:px-5 md:flex-row">
      <div class="w-full md:w-1/2">
        <a href="#_" class="block">
          <img
            class="object-cover w-full h-full rounded-lg max-h-64 sm:max-h-96"
            src="/p1.jpg"
            alt="Product One"
          />
        </a>
      </div>
      <div
        class="flex flex-col items-start justify-center w-full h-full py-6 mb-6 md:mb-0 md:w-1/2"
      >
        <div
          class="flex flex-col items-start justify-center h-full space-y-3 transform md:pl-10 lg:pl-16 md:space-y-5"
        >
          <div
            class="bg-blue-500 flex items-center pl-2 pr-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
          >
            <svg
              class="w-3.5 h-3.5 mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              >
              </path>
            </svg>
            <span class="">Products</span>
          </div>
          <h3 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl">
            <a href="#_" class=""> Value-Top Casing</a>
          </h3>
        </div>
      </div>
    </div>
    <div class="flex grid grid-cols-12 pb-10 sm:px-5 gap-x-8 gap-y-16">
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/p2.jpg"
            alt="Product Two"
          />
        </a>
        <div
          class="bg-purple-500 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span>Monitor</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-xl">
          <a href="#">Value-Top Full HD LED Monitor </a>
        </h2>
        <p class="text-sm text-gray-500">
          Frameless, 16.7M Color, Blue light filter, 178 Degree view angle, Flicker free, Low power consumption
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#" class="mr-1 underline"> Learn More </a>
        </p>
      </div>
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/p3.jpg"
            alt="Product Three"
          />
        </a>
        <div
          class="bg-gray-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span> Power Supply </span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-xl">
          Value-Top Power Supply
        </h2>
        <p class="text-sm text-gray-500">
          If you want to excel in life and become a better version of yourself,
          you'll need to upgrade your life.
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#_" class="mr-1 underline">Learn More </a> 
        </p>
      </div>
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/p4.jpg"
            alt="Product Four"
          />
        </a>
        <div
          class="bg-red-500 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span>Keyboard</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-xl">
          Value-Top Keyboard
        </h2>
        <p class="text-sm text-gray-500">
          Take the time to enjoy the life that you've created. It's totally fine
          to live like kings and eat like royalty.
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#_" class="mr-1 underline"> Learn More </a>
        </p>
      </div>
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/p5.jpg"
            alt="Product Five"
          />
        </a>
        <div
          class="bg-orange-600 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span>Mouse</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">
          Value-Top 3D Mouse
        </h2>
        <p class="text-sm text-gray-500">
          Writing about your plans for success is extremely helpful for yourself
          and it will allow you to share your story.
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#_" class="mr-1 underline"> Learn More </a>
        </p>
      </div>
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/p6.jpg"
            alt="Product Six"
          />
        </a>
        <div
          class="bg-blue-700 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span>CPU Cooler</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-xl">
          Value-Top CPU Cooler
        </h2>
        <p class="text-sm text-gray-500">
          Managing your time can make the difference between getting ahead in
          life or staying exactly where you are.
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#_" class="mr-1 underline"> Learn More </a>
        </p>
      </div>
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/p7.jpg"
            alt="Product Seven"
          />
        </a>
        <div
          class="bg-yellow-400 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block"
        >
          <span>Cooling Fan</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">
          Value-Top RGB Cooling Fan
        </h2>
        <p class="text-sm text-gray-500">
          Take a moment and enjoy to enjoy the many fruits of life. Relaxation
          and a healthy diet can go a long way.
        </p>
        <p class="pt-2 text-xs font-medium">
          <a href="#_" class="mr-1 underline">Learn more </a>
        </p>
      </div>
    </div>
  </div>
</section>
