---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Looking for high-quality computer hardware components? Our site offers a wide range of computer casings, monitors, power supplies, and cooling fans to help keep your system running smoothly.">
		<title>{title}</title>
	</head>
	<body class="relative" id="top">
		<slot />
		<a href="#top" id="top" class="bg-blue-600 dark:bg-gray-800 p-2 border border-white rounded text-white fixed bottom-10 right-10">Top</a>
	</body>
</html>

