---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Looking for high-quality computer hardware components? Our site offers a wide range of computer casings, monitors, power supplies, and cooling fans to help keep your system running smoothly. Whether you're a gamer, a designer, or simply in need of an upgrade, our products are designed to meet your needs and exceed your expectations. Shop with us today and experience the difference in performance and reliability.">
		<title>{title}</title>
	</head>
	<body class="relative" id="top">
		<slot />
		<a href="#top" id="top" class="bg-blue-600 p-2 rounded text-white fixed bottom-10 right-10">Top</a>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
